@model Data.Models.IndevidualButtonPartial
@*
*@

<a type="button" class="btn @Model.ButtonType" asp-page="@Model.Page" 
   asp-route-id="@Model.ActionParameters">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
</a>
    